.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #1e1e1e;
  color: white;
  padding: 2rem;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);

  h2 {
    margin-bottom: 1rem;
  }
  p {
    opacity: 0.8;
    margin-bottom: 1.5rem;
  }
}

.coinsBox {
  font-size: 18px;
  font-weight: 700;
  color: #ffd600;
  margin-bottom: 12px;
}

.sectionTitle {
  margin-top: 15px;
  font-size: 18px;
  color: #00b7ff;
  text-align: center;
}

.itemsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 12px;
  margin-bottom: 12px;
}

.itemCard {
  background: rgba(255,255,255,0.06);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.25s;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}

.purchased {
  opacity: 0.75;
  background: red !important;
}

.itemName {
  font-size: 14px;
  font-weight: 600;
  color: #e9eaff;
  margin-bottom: 6px;
  display: block;
}

.buyBtn {
  width: 100%;
  border: none;
  padding: 7px 0;
  border-radius: 6px;
  font-size: 14px;
  background: linear-gradient(135deg, #00c86b, #009e4a);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s;

  &:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(0,255,140,0.4);
  }

  &:disabled {
    background: #555b70;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.players {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.player {
  background: #2c2c2c;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  min-width: 100px;
  transition: 0.3s;

  &.ready {
    background: #2ecc71;
    color: #000;
    font-weight: bold;
  }
}

.button {
  background: #2ecc71;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #27ae60;
  }

  &:disabled {
    background: gray;
    cursor: default;
  }
}
